.Container{
    height: 180px;
    width: 100%;
}
.Wrapper{
    height: 100%;
    width: 100%;
    display: flex;
}
.Description{
    flex: 1;
    display: flex;
    flex-direction: column;
  
}
    .Logo{
        height: 60px;
        width: 80px;
        margin-top: 2%;    
        object-fit:contain;
        cursor: pointer;
    }
    .Description_Text{
        width: 50%;
        margin-left:  5%;
        font-size: small;
    } 
.Useful_Links{
    flex: 1;
    text-align: center;
}
    .Links{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
    }
    .Links_Items{
        padding: 1%;
        margin: 4%;
        cursor: pointer;
    }
.Contacts{
    flex: 1;
    
    text-align: center;
}
    .Contacts_List{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        margin-right: 3%;
    }
    .Contacts_Items{   
    }
    .Twitter_Icon{
        font-size: 30px;
        padding: 2px;
        color: #55ACEE;
        cursor: pointer;  
    }
    .Email_Icon{
        font-size: 30px;
        padding: 2px;
        color: #E60023;
        cursor: pointer;
    }
    .Phone_Icon{
        font-size: 30px;
        padding: 2px;
        color: rgb(95, 95, 95);
        cursor: pointer;
    }