.Navbar_Container{
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    height: 80px;     
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 6px -4px #222;

    
}

.Left{
    display: flex;
    flex: 1;
    height: 90%;
    align-items: center;
}
    .Logo{
        height: 80px;
        width: 100px;
        object-fit:contain;
        margin-left: 10%;
        cursor: pointer;
    }      

.Middle{
    display: flex;
    flex: 1;
    height: 90%;
    align-items: center;
    justify-content: center;
}
    .SearchBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.5px solid lightgray;
        border-radius: 20px;
        width: 70%;
        height: 30%;
        padding: 1%;
    }
    

    .Search_Bar_Input{   
            border: none;
            outline: none;
            margin-left: 2%;
            width: 85%;
            background: none;
            font-size: 90%;
            
    }
    .Search_Bar_Input::placeholder{
        color: black;
    }

    .Search_Icon{
            cursor: pointer;
            color:  black;
            font-size: 100%;
            
            padding: 2%;
    }
    

.Right{
    display: flex;
    flex: 1;
    height: 90%;
    align-items: center;
    justify-content: right;
    margin-right: 1%; 
}

    .ContactUs_Button{
        border: 0.5px solid lightgrey;
        color: black;
        border-radius: 10px;
        padding: 5px 5px;
        height: fit-content;
        width: fit-content;
        margin: 0% 1%;
        font-size: 70%;
        font-weight: 550;
        background-color: #f2f2f2;
        cursor: pointer;
    }
        .ContactUs_Button:hover{
            background-color: rgb(64, 159, 64);
            color: white;
            transition:all 0.5s ease;
        }
    .Account_Icon{
        color: grey;
        margin: 0px -50%;
        font-size: 180%;
        cursor: pointer;
    }

.Languages{
    display: flex;
    align-items: center;
    margin-left: 3%;
}
    .Language_Icon{
        font-size: 90%;
        
    }
    .Select{
        border-radius: 5px;
        background: none;
        margin-left: 5px;
        cursor: pointer;
    }
        .Options{
           
        }